/* storyStyle.css */

/* Réinitialisation basique */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corps de page */
body {
  font-family: "Press Start 2P", system-ui;
  background-color: #111; /* noir profond */
  color: #a0a840; /* vert fluo rétro */
  line-height: 1.5;
  padding: 20px;
}

/* Titres */
.titre {
  font-family: "Sixtyfour", sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  color: #a0a840; /* vert fluo */
  text-shadow: 1px 1px 0 #444; /* légère ombre grise pour relief */
}

/* Dialogue */
.dialogue {
  background-color: #111; /* noir */
  border: 2px solid #a0a840; /* vert fluo */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

/* QCM */
.qcm {
  margin: 15px 0;
}

.qcm button {
  font-family: "Press Start 2P", system-ui;
  background-color: #222; /* gris très foncé */
  color: #a0a840; /* vert fluo */
  border: 2px solid #a0a840;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

/* Zone de déchets */
#trash {
  border: 2px dashed #a0a840;
  padding: 20px;
  margin: 15px 0;
  text-align: center;
  background-color: #111; /* noir */
  color: #a0a840;
}

/* Score */
.score-board {
  font-weight: bold;
  margin: 10px 0;
}

/* Composants */
.composant p {
  background-color: #222; /* gris foncé */
  border: 2px solid #a0a840;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #a0a840;
}
.qcm button:hover,
button.active {
  background-color: #a0a840;
  color: #111; /* texte noir sur bouton vert */
}

.btnTrash {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  border: 0px;
}
#btnTrash1 {
  top: 221px;
  left: 172px;
  width: 135px;
  border-radius: 20px;
}

#btnTrash2 {
  top: 219px;
  left: 416px;
  width: 136px;
  border-radius: 20px;
}

#btnTrash3 {
  top: 238px;
  left: 538px;
  width: 188px;
  height: 171px;
  border-radius: 20px;
}
