/* RESET ET TAILLE PLEIN ÉCRAN */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* empêche le scroll */
}

/* BODY PRINCIPAL */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
  border: 20px solid #405010;

  box-shadow: inset 0 0 50px #506020;
  position: relative;
}

/* TITRE PRINCIPAL */
h1 {
  text-align: center;
  font-family: "Sixtyfour", sans-serif;
  font-size: 4rem;
  color: #a0a840;
  position: relative;

  animation: bounce 1s infinite, flicker 0.15s infinite;

  text-shadow: 0 2px #506020, 0 4px #405010, 0 6px #304010;
}

/* ANIMATION DE SAUT */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* ANIMATION SCINTILLEMENT */
@keyframes flicker {
  0%,
  19%,
  21%,
  50%,
  52%,
  100% {
    opacity: 1;
  }
  20%,
  51% {
    opacity: 0.7;
  }
}

/* BOUTON STYLE GAME BOY */
#mainBtn {
  font-family: "Press Start 2P", system-ui;
  font-size: 3rem;
  padding: 2rem 3rem;
  margin-top: 3rem;
  border: 8px solid #405010;
  background: #709028;
  color: #a0a840;
  cursor: pointer;

  box-shadow: 0 10px #405010;
  transition: transform 0.1s;
}

a {
  text-decoration: none;
}

button:active {
  transform: translateY(6px);
  box-shadow: 0 4px #405010;
}

/* SCANLINES + TREMBLEMENT (compatible Firefox) */
.scanlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    transparent 0,
    transparent 3px,
    rgba(0, 0, 0, 0.08) 4px
  );
  pointer-events: none;

  animation: screenShake 0.1s infinite;
  will-change: transform; /* aide Firefox à optimiser */
}

/* TREMBLEMENT ÉCRAN */
@keyframes screenShake {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-1px, 1px);
  }
  50% {
    transform: translate(1px, -1px);
  }
  75% {
    transform: translate(-1px, 0px);
  }
  100% {
    transform: translate(0px, 1px);
  }
}
